* {
  box-sizing: border-box;
}
.wrapper{
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  .header{
    width: 100%;
    height: auto;
    .header__navbarTop{
      width: 100%;
      height: 100%;
      line-height: 100px;
      display: flex;
      justify-content: space-between;
      &--siteLogo{
        width: 150px;
        height: 100px;
        text-decoration: none;
        color: black;
        // background-color: red;
        display: flex;
        line-height: 100px;
        
        .siteLogo__btn--icon{
          line-height: 100px;
          font-size: 1.5em;
          padding-right: 10px;
          color: chocolate;
        }
        p{
          font-size: large;
          font-weight: bold;
        }
      }
      &--navItem{
        width: 300px;
        height: 100px;
        display: flex;
        line-height:100px;
        display: flex;
        justify-content: space-evenly;
        .navItem__search{
          // background-color: blue;
          // padding: 0px 20px;
          &--icon{
            color: black;
            font-size: 1.2em;
          }
        }
        .navItem__user{
          // background-color: green;
          // padding: 0px 20px;
          &--icon{
            font-size: 1.2em;
            color: black;
          }
        }
        .navItem__post{
          // background-color: yellow;
          // padding: 0px 20px;
          text-decoration: none;
          .post__sendBtn{
            // background-color: aqua;
            display: flex;
            &--icon{
              font-size: 1.2em;
              display: block;
              margin: auto;
              padding-right: 10px;
              color: black;
            }
            p{
              color: black;
            }
          }
        }
      }
    }
    .header__navbarMenu{
      border-bottom: 0.8px solid;
      &--menu{
        display: flex;
        .menu__home{
          padding-right: 30px;
          padding-bottom: 10px;
          text-decoration: none;
          color: black;
        }
        .menu__circle{
          padding-right: 30px;
          padding-bottom: 10px;
          text-decoration: none;
          color: black;
          
        }
        .menu__tag{
          padding-right: 30px;
          padding-bottom: 10px;
          text-decoration: none;
          color: black;
          
        }
        .menu__how-to-use{
          padding-right: 30px;
          padding-bottom: 10px;
          text-decoration: none;
          color: black;
          
        }
      }
    }
  }
  .main{
    width: 72%;
    .container{
      &__column{
        &--body{
          .timeline{
            &__itemWrapper{
              &--item{
                padding-top: 30px;
                margin-bottom: 20px;
                border-bottom: solid 1px;
                .textNote{
                  
                  &__link{
                    text-decoration: none;
                    &--body{
                      .body__image{
                        &--show{
                          width: 720px;
                          height: 480px;
                        }
                      }
                      .body__title{
                        p{
                          color: black;
                          font-size: 20px;
                          font-weight: bolder;
                          padding-top: 10px;
                          padding-bottom: 20px;
                        }
                      }
                      .body__description{
                        p{
                          color: black;
                          font-size: 15px;
                          font-weight: normal;
                          padding-bottom: 15px;
                          line-height: normal;
                        }
                      }
                    }
                    &--status{
                      .status__item{
                        width: 60px;
                        height: 30px;
                        display: flex;
                        margin-bottom: 15px;
                        line-height: 30px;
                        border-radius: 20px;
                        background-color: dodgerblue;
                        &--icon{
                          padding-right: 10px;
                          padding-left: 10px;
                          color: white;
                          .icon-like{
                            
                            
                          }
                        }
                        &--number{
                          color: white;
                          font-size: 12px;
                          
                          p{
                            text-decoration: none;

                          }
                        }
                      }

                    }
                  }
                  &__footer{
                    &--user{
                      .user__link{
                        text-decoration: none;
                        &--icon{
                          .user__icon{
                            
                          }
                        }
                        &--name{
                          color: black;
                          padding-bottom: 5px;
                        }
                        &--post-time{
                          color: #999999;
                          font-size: 12px;
                        }
                      }
                    }
                    &--action{
                      .action__item{
                        &--like{
                          text-align: right;
                          padding-top: 0px;
                          padding-right: 30px;
                          padding-bottom: 30px;
                          font-size: 1.3em;
                          .icon-like{
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &--sub{

        }
      }
    }
  }
}